<ion-header [translucent]="true">
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/categories"></ion-back-button>
      </ion-buttons>
    <ion-title>{{pdfList[0].category}}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar (ionInput)="searchItems($event)"></ion-searchbar>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
      <ion-item *ngFor="let pdf of visibleList; let i=index;" routerDirection="root" [routerLink]="pdf.id">
          <ion-label>{{i+1}}. {{ pdf.name }}</ion-label>
      </ion-item>
      <!-- <ion-item routerDirection="root" *ngIf="!pdfList[1].draft" [routerLink]="pdfList[1].id">
          <ion-label>2. {{ pdfList[1].name }}</ion-label>
      </ion-item> -->
  </ion-list>
</ion-content>
