<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="content ion-padding">
        <img class="about-img" src="/assets/images/about.jpg"/>
        <p class="about-text">
            Lorem ipsum dolor, sit amet consetur adipisicing elit. Nostrum animi beatae autem nulla cum minus dolorem dolor impedit quisquam dicta omnis tempore eveniet vitae mollitia, culpa vero est delectus quis!
        </p>
        <p class="about-text">
            Lorem ipsum dolor, sit amet consetur adipisicing elit. Nostrum animi beatae autem nulla cum minus dolorem dolor impedit quisquam dicta omnis tempore eveniet vitae mollitia, culpa vero est delectus quis!
        </p>
    </div>
    
</ion-content>