.contact-buttons{
    // position: absolute;
    // top: 50%;
    // transform: translateY(-10%);
    // width: 100%;
    // padding: 10px;
    ion-button{
        margin: 20px;
    }
}
.logo{
    padding: 20px 10%;
    padding-bottom: 0px;
    max-height: 20%;
    display: block;
    margin: 0 auto;
}