<ion-header [translucent]="true">
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <img class="logo" src="../assets/icon/mail-open-outline.svg" alt="">
  <div class="contact-buttons">
    <ion-button expand="block" href="mailto:jogmand@gmail.com">
      <!-- <ion-icon slot="start" size="large" name="mail-open-outline"></ion-icon> -->
      Dr. Mandar Jog
    </ion-button>
    <ion-button expand="block" href="mailto:soumya0325@gmail.com">
      <!-- <ion-icon slot="start" size="large" name="mail-open-outline"></ion-icon> -->
      Dr. Soumya Sharma
    </ion-button>
    <ion-button expand="block" href="mailto:jackyganguly03@gmail.com">
      <!-- <ion-icon slot="start" size="large" name="mail-open-outline"></ion-icon> -->
      Dr. Jacky Ganguly
    </ion-button>
    <ion-button expand="block" href="mailto:drnirajkumarsingh@gmail.com">
      <!-- <ion-icon slot="start" size="large" name="mail-open-outline"></ion-icon> -->
      Dr. Niraj Kumar
    </ion-button>
    <ion-button expand="block" href="mailto:mihika.jog@gmail.com">
      <!-- <ion-icon slot="start" size="large" name="mail-open-outline"></ion-icon> -->
      Ms. Mihika Jog
    </ion-button>
    <!-- <ion-button expand="block" href="tel:+99999999999">
      <ion-icon slot="start" size="large" name="call-outline"></ion-icon>
      +999 9999 9999
    </ion-button> -->
  </div>
</ion-content>
