<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Chapters</ion-title>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-searchbar (ionInput)="searchItems($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item routerDirection="root" *ngIf="!pdfList[0].draft" [routerLink]="pdfList[0].id">
            <ion-label>1. {{ pdfList[0].name }}</ion-label>
        </ion-item>
        <ion-item routerDirection="root" *ngIf="!pdfList[1].draft" [routerLink]="pdfList[1].id">
            <ion-label>2. {{ pdfList[1].name }}</ion-label>
        </ion-item>
        <ion-item *ngIf="!pdfList[2].draft">
            <ion-label>3. {{ pdfList[2].category }}</ion-label>
        </ion-item>
        <ion-item *ngIf="!pdfList[3].draft" routerDirection="root" [routerLink]="pdfList[3].id">
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp; a. {{ pdfList[3].name }}</ion-label>
        </ion-item>
        <ion-item routerDirection="root" *ngIf="!pdfList[4].draft" [routerLink]="pdfList[4].id">
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp; b. {{ pdfList[4].name }}</ion-label>
        </ion-item>
        <ion-item *ngIf="!pdfList[5].draft">
            <ion-label>4. {{ pdfList[5].category }}</ion-label>
        </ion-item>
        <ion-item *ngIf="!pdfList[6].draft" routerDirection="root" [routerLink]="pdfList[6].id">
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp; a. {{ pdfList[6].name }}</ion-label>
        </ion-item>
        <ion-item *ngIf="!pdfList[7].draft" routerDirection="root" [routerLink]="pdfList[7].id">
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp; b. {{ pdfList[7].name }}</ion-label>
        </ion-item>
        <ion-item *ngIf="!pdfList[8].draft" routerDirection="root" [routerLink]="pdfList[8].id">
            <ion-label>&nbsp;&nbsp;&nbsp;&nbsp; c. {{ pdfList[8].name }}</ion-label>
        </ion-item>
        <ion-item *ngIf="!pdfList[9].draft" routerDirection="root" [routerLink]="pdfList[9].id">
            <ion-label>5. {{ pdfList[9].name }}</ion-label>
        </ion-item>
        <ion-item *ngIf="!pdfList[10].draft" routerDirection="root" [routerLink]="'sub/'+pdfList[10].category">
            <ion-label>6. {{ pdfList[10].category }}</ion-label>
        </ion-item>
        <ion-item *ngIf="!pdfList[11].draft" routerDirection="root" [routerLink]="pdfList[11].id">
            <ion-label>7. {{ pdfList[11].name }}</ion-label>
        </ion-item>
        <ion-item *ngIf="!pdfList[12].draft" routerDirection="root" [routerLink]="pdfList[12].id">
            <ion-label>8. {{ pdfList[12].name }}</ion-label>
        </ion-item>
        <ion-item *ngIf="!pdfList[13].draft" routerDirection="root" [routerLink]="pdfList[13].id">
            <ion-label>9. {{ pdfList[13].name }}</ion-label>
        </ion-item>
        <ion-item *ngIf="!pdfList[14].draft" routerDirection="root" [routerLink]="pdfList[14].id">
            <ion-label>10. {{ pdfList[14].name }}</ion-label>
        </ion-item>
        <ion-item *ngIf="!pdfList[15].draft" routerDirection="root" [routerLink]="pdfList[15].id">
            <ion-label>11. {{ pdfList[15].name }}</ion-label>
        </ion-item>
        <ion-item *ngIf="!pdfList[16].draft" routerDirection="root" [routerLink]="pdfList[16].id">
            <ion-label>12. {{ pdfList[16].name }}</ion-label>
        </ion-item>

    </ion-list>
</ion-content>