.home-menu{
    --max-width: 80%;
}

ion-item ion-icon{
    padding-left: 15px;
}

ion-menu ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
    background-color: #212121 !important;
}

ion-menu.md ion-content {
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-bottom: 20px;
}

ion-menu.md ion-list {
    padding: 0px 0;
}

ion-menu.md ion-note {
    margin-bottom: 30px;
}

#header {
    background-color: rgba(var(--ion-color-primary-rgb), 1);
    // background-image: url(../assets/images/menu-header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: rgba(0, 204, 255, 0.05);
    // border-bottom: rgba(var(--ion-color-primary-rgb), 1) 1px solid;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    border-bottom:grey 1px solid;
    span {
        // color: rgba(var(--ion-color-primary-rgb), 1);
        color: white;
        // text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
        text-shadow: 1px 1px 3px black, 0 0 25px rgba(0, 0, 0, 0.685);
        font-size: 30px !important;
        font-weight: 500 !important;
    }
    img{
        padding: 0px 55px ;
    }
}

ion-content{
    border-right: grey 1px solid;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #212121;
    background-color: white;
    border-right: grey 1px solid;
}
ion-item{
    cursor: pointer;
}
ion-label {
    font-size: 20px !important;
}

ion-label {
    padding: 10px 0px;
}
ion-menu.md ion-list-header,
ion-menu.md ion-note {
    padding-left: 10px;
}

// ion-menu.md ion-list#inbox-list {
//   border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
// }
ion-menu.md ion-list#list ion-list-header {
    font-size: 22px;
    font-weight: 600;
    min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
    font-size: 16px;
    margin-bottom: 18px;
    color: #757575;
    min-height: 26px;
}

ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 4px;
}

ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
    font-size: 36px;
    color: #616e7e;
}

ion-menu.md ion-item ion-label {
    font-weight: 500;
}

ion-menu.ios ion-content {
    --padding-bottom: 20px;
}

ion-menu.ios ion-list {
    padding: 0px 0 0 0;
}

ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
}

ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
    font-size: 40px;
    color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
    // color: #fff;
}

ion-menu.ios ion-note {
    margin-bottom: 8px;
}

ion-note {
    display: inline-block;
    font-size: 16px;
    color: var(--ion-color-medium-shade);
}

ion-item.selected {
    --color: var(--ion-color-primary);
}