<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay" class="home-menu">
            <ion-content>
                <ion-list id="list">
                    <div id="header">
                        <img src="../assets/images/logo_black.png" alt="">
                        <span>MovDis</span>
                    </div>

                    <ion-menu-toggle auto-hide="false" autoHide="false" *ngFor="let p of appPages; let i = index">
                        <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                            <ion-icon slot="start" [ios]="p.icon" [md]="p.icon"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false" autoHide="false">
                    <ion-item (click)="exitAlertConfirm()" lines="none" detail="false">
                            <ion-icon slot="start" name="exit-outline"></ion-icon>
                            <ion-label>Exit</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
                <span class="footer">Version 1.0</span>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>