<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="pdf.prev||'/categories'"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ pdf.name }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<pdf-viewer [src]="pdf.path" [original-size]="true" [zoom]="pdfZoom" [fit-to-page]="true" [render-text]="true"></pdf-viewer>
    <div id="zoomBtns">
        <ion-button size="small" (click)="zoomOut()" color="light">
            <ion-icon name="remove"></ion-icon>
        </ion-button>
        <ion-button size="small" (click)="resetZoom()" color="light">
            <ion-icon name="refresh"></ion-icon>
        </ion-button>
        <ion-button size="small" (click)="zoomIn()" color="light">
            <ion-icon name="add"></ion-icon>
        </ion-button>
    </div>
</ion-content>